html, body {
  background-color: #111;
}

.App {
  text-align: center;
  background-color: #111;
  color: lightpink;
  padding: 50px 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mission-details {
  text-align: left;
}

.mission-header {
  display: flex;
  justify-content: center;
  position: relative;
}

.mission-list h1 {
  padding-bottom: 30px;
}

.mission-header .back {
  position: absolute;
  left: 0;
}

.mission-details .attr {
  font-weight: bold;
}

.mission-details .data {
  color: white;
}

.mission-details .section {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 10px;
}

.mission-details .subsection {
  font-size: 18px;
  font-style: italic;
  padding-bottom: 10px;
}
